.barra-title {
  background-color: $pink-color;
  display: flex;
  width: $width-header;
  height: $height-header;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.principal-title {
  margin-left: 20px;
  height: 60px;
  font-size: $font-size-xl;
  font-family: $font-header;
}

.title-header {
  color: $white-color;
  font-family: $font-header;
  font-size: 1.5em;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-5px);
  }
}

.container-right-head {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

.name {
  margin: 0 10px 0px 0;
}

.img-avatar {
  margin: 0px 10px;
}