body{
  margin: 0;
  padding: 0;
  background: #E9ECF5;
}

.section1 {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-inputs div {
  margin: 1px 0px;
  // height: 6vh;
  display: flex;
  justify-content: center;
}

.section3 {
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.soporte {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soporte-text1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.soporte-text2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


