.container-pago-realizado{
  background-color: #E9ECF6;
}

.pago-realizado{
  background-color: #CCD6EB;
  border-radius: 52px;
  height: 70vh;
  width: 94vw;
  margin: 55px;
}

.boton-volver-a-inicio{
  height: 20vh;
  width: 93vw;
}

