.retiro-en-local{
  background-color: #CCD6EB;
  border-radius: 52px;
  height: 70vh;
  width: 94vw;
  margin: 55px;
}

.container-retiro-local{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.local{
  height: 40vh;
  width: 50vw;
}

