// @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ranga&display=swap');

// @font-face {
// 	font-family: 'Ranga-Bold';
// 	src: url('../../fonts/Ranga-Bold.ttf') format('ttf');
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Lobster-Regular';
// 	src: url('../../fonts/Lobster-Regular.ttf') format('ttf');
// 	font-weight: 700;
// 	font-style: normal;
// }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v87/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

